.card {
    width: 90%;
    display: grid;
    flex-direction: column;
    border: 2px black solid;
    margin-left: 5%;
    box-shadow: 4px 4px gray;
    background-color: white;
}

/* .header {
    height: 30%;
    background: black;
    color: white;
    text-align: center;
} */

.container {
    padding: 2px 16px;
}


.nav {
        display: center;
        margin: 0 auto;
        text-align: center;
}