.card {
    width: 90%;
    display: grid;
    flex-direction: column;
    border: 2px black solid;
    margin-left: 5%;
    box-shadow: 4px 4px gray;
    background-color: white;
    border-radius: 15px;
    overflow: auto;
}

.header {
    height: 6px;
    background: rgb(11, 43, 20);
    color: white;
    margin-left: 4px;
    margin-right: 4px;
}

.container {
    padding: 2px 16px;
}